{% extends 'layout.twig' %}

{% block body %}
  <body id="home">
    <div id="video_wrap">
      <video autoplay loop muted>
        <source type="video/mp4" src="/images/home_bg.mp4">
      </video>
      <p>Guerrato's website is under construction</p>
    </div>
  </body>
{% endblock %}
